<h2> Adding a question</h2>
<form method="POST" action="/add">
	Topic Name: <input type = "text" name = "title"> <br>
	Add a question: <input type = "text" name = "question">, Add an answer: <input type = "text" name = "answer"><br>
	<input type = "submit" value = "Submit to database!">
</form>