<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
Hi {{user.username}}, thanks for logging in :). If you want to take the quiz, click <a href="questions">this link</a>. Otherwise, you can add stuff to the question bank <a href="add">here</a>
{{else}}
<a href="register">register</a> or <a href="login">login</a> 
{{/if}}