<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div>

  <div>
	{{#if user}}
	  Welcome {{user.username}}! | <a href="logout">Log out</a> | <a href= "/"> Home </a> | <a href = "add"> Add Questions </a> | <a href = "questions"> Take the quiz! </a>
	{{/if}}
	</div>
    {{{body}}}
  </body>
</html>
