<h2>Login</h2>
{{message}}
<form method="POST" action="">
		Username: <input name="username" type="text" required autofocus>	
		Password: <input name="password" type="password" required autofocus>	
		<input type="submit" value="Login">	
</form>
<br>
Don't have an account? Register <a href = "register"> here </a>