
<h2>Register</h2>
{{message}}
<form method="POST" action="">
		username: <input name="username" type="text">	
		password: <input name="password" type="password">	
		<input type="submit" value="Register">	
</form>