
<h2>Register</h2>
{{message}}
<form method="POST" action="">
		Name: <input name="name" type="text">
		Username: <input name="username" type="text">	
		Password: <input name="password" type="password">	
		<input type="submit" value="Register">	
</form>

<br>
Already have an account? Login <a href= "login"> here </a>